In [1]:
import pandas as pd

In [2]:
# read and check dataset
vine_df = pd.read_csv("Resources/vine_table.csv")
vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N
5,R1Z8IFGWTRWXT6,3.0,0.0,0.0,N,Y
6,R3AUMSHAW73HWN,4.0,2.0,3.0,N,N
7,R2KWDWFOHGX6FL,5.0,0.0,0.0,N,Y
8,R3H9543FWBWFBU,5.0,1.0,1.0,N,Y
9,RUANXOQ9W3OU5,5.0,0.0,0.0,N,Y

In [3]:
# filter df to keep values
# specified total_votes count >= 20
vine_filter_df = vine_df[vine_df['total_votes'] >= 20]
vine_filter_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
1737,R1OAKARA30DIWX,4.0,83.0,89.0,N,Y
1997,R36LSV4WQ4VB1K,5.0,17.0,22.0,N,N
2391,R18BTOE5UGN7UA,5.0,26.0,28.0,N,Y
3214,R1DXLGDSK2WMLD,4.0,22.0,22.0,N,N
3223,RZG2OHQ12YYZI,5.0,30.0,31.0,N,Y

In [4]:
# add restrictions to find helpful reviews
formula = vine_filter_df['helpful_votes']/vine_filter_df['total_votes'] >= 0.5
vine_helpful_df = vine_filter_df[formula]
vine_helpful_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
1737,R1OAKARA30DIWX,4.0,83.0,89.0,N,Y
1997,R36LSV4WQ4VB1K,5.0,17.0,22.0,N,N
2391,R18BTOE5UGN7UA,5.0,26.0,28.0,N,Y
3214,R1DXLGDSK2WMLD,4.0,22.0,22.0,N,N
3223,RZG2OHQ12YYZI,5.0,30.0,31.0,N,Y

In [5]:
# review was written as part of the Vine program (paid)
review_df = vine_helpful_df[vine_helpful_df['vine'] == 'Y']
review_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N
199322,RZL21K50M52KW,5.0,22.0,22.0,Y,N
200633,R24RC5J2D92SBE,5.0,19.0,20.0,Y,N
203318,R1803HITBY7Y08,4.0,92.0,104.0,Y,N
231692,R1888B8Z6QWYZ4,4.0,18.0,25.0,Y,N
253536,R1S538NK2I5PRL,5.0,21.0,22.0,Y,N

In [6]:
# review was not part of the Vine program (unpaid)
nonreview_df = vine_helpful_df[vine_helpful_df['vine'] == 'N']
nonreview_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
1737,R1OAKARA30DIWX,4.0,83.0,89.0,N,Y
1997,R36LSV4WQ4VB1K,5.0,17.0,22.0,N,N
2391,R18BTOE5UGN7UA,5.0,26.0,28.0,N,Y
3214,R1DXLGDSK2WMLD,4.0,22.0,22.0,N,N
3223,RZG2OHQ12YYZI,5.0,30.0,31.0,N,Y

In [7]:
# calculate number of total reviews
# for paied and unpaid vine
total_review = review_df['review_id'].count()
total_nonreview = nonreview_df['review_id'].count()

print(f'number of reviews for paid vine: {total_review}')
print(f'number of reviews for unpaid vine: {total_nonreview}')

number of reviews for paid vine: 334
number of reviews for unpaid vine: 61614

In [8]:
# calculate number of total 5star-reviews
# for paied and unpaid vine
review5 = review_df[review_df['star_rating'] == 5].count()['review_id']
nonreview5 = nonreview_df[nonreview_df['star_rating'] == 5].count()['review_id']

print(f'number of 5 star reviews for paid vine: {review5}')
print(f'number of 5 star reviews for unpaid vine: {nonreview5}')

number of 5 star reviews for paid vine: 139
number of 5 star reviews for unpaid vine: 32665

In [12]:
# calculate percentages of total 5star-reviews
# for paied and unpaid vine
review5_percent = review5/total_review * 100
nonreview5_percent = nonreview5/total_nonreview * 100

print(f'Percentage of 5 star review for paid vine: {review5_percent:.2f}%')
print(f'Percentage of 5 star review for unpaid vine: {nonreview5_percent:.2f}%')

Percentage of 5 star review for paid vine: 41.62%
Percentage of 5 star review for unpaid vine: 53.02%

In [10]:
# end of project